*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
}

html{
    scroll-behavior: smooth;
}
body{
    
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}
.container3{
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.container1{ 
    max-width: 1080px;
    margin: 0 auto;
}

header{
    background-color: black;
    width: 100%;
    padding: 15px 4%;
    position: sticky;
    top: 0;
    z-index: 9999;
}

.logo{
    width: 25%;
}

.logo img{
    width: 200px;
    cursor: pointer;
}

.menu{
    width: 50%;
}

.menu nav a{
    color: #c4c4c4;
    text-decoration: none;
    font-size: 18px;
    padding-right: 30px;
    padding-bottom: 8px;
    position: relative;
}

.menu nav a::after{
    content: " ";
    width: 0px;
    height: 4px;
    background-image: linear-gradient(45deg , #00ccff, #003cff);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.5s;
}

.menu nav a:hover::after{
    width: 30px;
}

.menu nav a:hover{
    color: #ffffff;
}

.social{
    width: 25%;
}

.social button{
    width: 40px;
    height: 40px;
    margin-right: 20px;
    border: 0;
    cursor: pointer;
    background-image: linear-gradient(45deg ,#00ccff, #003cff);
    border-radius: 5px;
    transition: transform 0.5s;
}

.social button i{
    font-size: 20px;
    text-align: center;
    color: #ffffff;
}

.social button:hover{
    transform: scale(0.9);
}





.background-img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    background: url('img/Banner-2.jpg') fixed center top; 
    background-size: cover;
    z-index: -1;
}
.container{
    font-size: 40px;
    text-align: center;
    line-height: 3.5em;
    letter-spacing: 0.3px;
    padding: 9rem;
    
}
.f-h1{
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-style: normal;
  
  
 }
 .f-h3{
  font-family: "Arsenal", sans-serif;
  font-size: 35px;
  font-weight: 20;
  font-style: normal;
 }
 

.fundo-2
{
  
    background: black;
    width: 100%;
    z-index: 100%;
    min-height: 100vh;
}
.sobre-card
{
    box-shadow: 0px 0px 40px +1px rgba(66, 198, 250, 0.753)
    
}

  .sobre-card 
  {
    position: relative;
    color: #ffffff;
    text-align: center;
    padding: 30px;
    font-size: 24px;
    z-index: 1;
    
  }
  .fundo-2 h2{
    padding: 2rem;
    box-shadow: 0px 2px 0px  rgba(66, 198, 250, 0.753) ;
} 
.card-1 a{
    text-decoration: none;
}

  .card-1  img {
    width: 250px;
    border: 1px solid rgb(36, 34, 34);
    margin: 50px;
    transition: transform 0.3s;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    
    
  }
  .card-1  img:hover  {
    transform: translateY(-15px);
    
  }
section {
    text-align: center;
    
  
}

.sobre-card-2 
{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    padding: 1rem;
    
    

}
.sobre-card-2{
    
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.card-2 img{
    width: 200px;
    margin: 18px;
    transition: transform 0.3s;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
   
  }
 

  .card-2  img:hover  {
    transform: translateY(-15px);
   
  }
  


  h3{
    padding: 2rem;
    
  }
  .sobre-card-3{
    display: flex;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-align: center;
    
}
.card-3 img{
    width: 200px;
    margin: 18px;
    top: 0;
    left: 0;
    transition: transform 0.3s;
    overflow: hidden;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
 }




  .card-3  img:hover  {
  
    transform: translateY(-15px);
    
   
  }