*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
    min-height: 100vh;
    
}
.background-img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    background: url('img/Banner-2.jpg') fixed center top; 
    background-size: cover;
    z-index: -1;
   
  }
  header nav ul {
    margin-top: 0;
    list-style-type: none;
    font-family:  Arial, Helvetica, sans-serif;
    font-size: 22px;
    text-align: center;
    position: fixed top;
    background: black;
    padding: 34px 12px;

  
  }
  nav ul li{
    display: inline;
    margin-left: 20px;
    max-width: 80%;
  }
  nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  nav ul li a:hover {
    color: rgba(66, 198, 250, 0.753);
  }
  
.container{
    font-size: 38px;
    text-align: center;
    line-height: 3.6em;
    letter-spacing: 0.3px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)) ;
    background-image: url('../img/background-ps.jpg'); /* Substitua pelo caminho da sua imagem */
    background-repeat: no-repeat; /* Evita que a imagem seja repetida */
    background-size: cover; /* Ajusta o tamanho para cobrir toda a área da div */
    background-position: center; /* Centraliza a imagem no container */
    width: 100%; /* Defina o tamanho desejado da div */
    height: 650px; /* Ajuste conforme necessário */
}


.f-h1{
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-top: 6rem;
    font-size: 42px;
    
   }
   
   @media (min-width: 1024px) { 
    .f-h1 {
      font-size: 72px;
      margin-bottom: 2rem;
    }

   }

.f-h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    line-height: 4rem;
}

.fundo-2
{
    background: black;
    width: 100%;
    z-index: 100%;
    padding-top: 2rem;
}
.sobre-card
{
    box-shadow: 0px 0px 40px +1px rgba(66, 198, 250, 0.753)
    
}
.sobre-card{
    
    position: relative;
    color: #ffffff;
    text-align: center;
    padding: 30px;
    font-size: 24px;
    z-index: 1;
}

#link-items, #link-items-pr {
  margin: 2rem auto;
  text-align: center;
  width: 100%;
  max-width: 1024px;
  list-style: none;
}

#link-items li, #link-items-pr li {
  padding: 1rem;
  border-radius: 4px;
  margin-bottom: 12px;
  transition: 0.3s;
}

#link-items li:hover, #link-items-pr li:hover { 
  background: #02FBFF;
}

#link-items li:hover > a, #link-items-pr li:hover > a { 
  color: black;
}

#link-items li a, #link-items-pr li a { 
  text-decoration: none;
  color: #ffffff;
  font-weight: 600;
  font-size: 1rem;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.ae-title {
  font-size: 36px;
  text-align: center;
  margin: 3rem auto;
}