.slider {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  max-width: 1450px;  
  height: 416px;
  overflow: hidden;
  margin: 2rem auto;
}


.slider-items {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 100%; /* Um slide por vez no mobile */
  gap: 0; /* Sem espaçamento para centralização */
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

@media (max-width: 500px) {
  .slider-items {
    grid-auto-columns: 100%; 
  }
}

@media (min-width: 501px) and (max-width: 1024px) {
  .slider-items {
    grid-auto-columns: calc(50% - 0.5rem); 
  }
}

@media (min-width: 1025px) and (max-width: 1300px) {
  .slider-items {
    grid-auto-columns: calc(33.33% - 0.5rem); 
  }
}

@media (min-width: 1301px) {
  .slider-items {
    grid-auto-columns: calc(20% - 0.5rem); 
  }
}

.slide {
  max-width: 320px; 
  height: 355px;
  list-style: none;
  margin: 0 auto;
  background: antiquewhite;
  display: grid;
  width: 100%; /* Ocupa toda a largura disponível */
  max-width: 100%; /* Garante ajuste em telas pequenas */
}

.slide img {
  width: 100%;
  height: 355px
}

.nav-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9;
}

.next-button {
  right: 0;
}

.next-button svg {
  transform: rotate(180deg);
}

.nav-btn svg {
  height: 50px;
  width: 50px;
}

.slider-title {
  font-size: 24px;
  font-family: "Oswald", sans-serif;
  padding-left: 2rem;
}


@media (min-width: 1024px) {
  .nav-btn svg {
    height: 80px;
    width: 80px;
  }

  .slider-items {
    margin-left: 2rem;
    gap: 6rem;
  }

  .slide {
    width: 100%;
    max-width: 320px; 
  }

  .slider-title {
    font-size: 36px;
    padding-left: 13rem;
  }
}